@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply bg-primary text-primary;
}

.rounded-div {
    @apply border border-secondary rounded-2xl shadow-xl bg-primary px-2 max-w-[1140px] w-full mx-auto;
}

input[type="text"]:focus ~ .input-text,
input[type="text"]:not(:placeholder-shown) ~ .input-text {
    @apply text-blue-500 transform -translate-y-10 -translate-x-2 scale-75;
}

td,
th {
    @apply pl-3 sm:px-8;
}

th {
    @apply py-4;
}

td {
    @apply py-5;
}

.dark {
    --color-bg-primary: #121418;
    --color-bg-secondary: #1b1f24;
    --color-bg-tertiary: #272a30;
    --color-text-primary: #dbdbdb;
    --color-text-secondary: #e2e8f0;
    --color-text-accent: #81e6d9;
    --color-bg-input: #4a5361;
    --color-bg-button: #2b6cb0;
}

.light {
    --color-bg-primary: #eeeeee;
    --color-bg-secondary: #dddddd;
    --color-bg-tertiary: #bbbbbb;
    --color-text-primary: #2d3748;
    --color-text-secondary: #4a5568;
    --color-text-accent: #2b6cb0;
    --color-bg-input: #edf2f7;
    --color-bg-button: #2b6cb0;
}
